body {
    background-image: url(Img/pattern.jpg);
    background-repeat: repeat;
    font-family: sans-serif;
    width: auto;
    
}

#wrapper {
    background-color: #FFFFFF;
    margin: 0 100px;
    padding: 20px;
}

header {
    margin-top: 30px;
    text-align: center;
    font-size: large;
}

table {
    border-collapse: collapse;
}

table, th, tr, td{
   border: 1px solid black;
    
}

img {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 5px; 
    display: block;
    border-radius: 8px;
    margin: auto;
    max-width: 30%;
    height: auto;
}

nav ul {
    font-family: 'Poiret One', cursive;
    text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin: 1px;
}

ul li{
    display: inline;
	margin: 20px;
	
}

ul li a {
    text-decoration: none;
    color: #0066aa;
	padding: 10px;
	-webkit-transition: all .6s ease;
	
}

ul li a:hover {
    background-color: #0066aa;
	color: white;
	padding: 10px;
}

#cascada {
    display: block;
}

#espiral {
    display: block;
    float: rigt;
}