body{
    background-color: blue;
    background-image: url(Img/pattern.jpg);
    background-repeat: no-repeat center fixed;
    background-size: cover; 
}

.wrapper{
    background-color: #dddddd;
    width:1100px;
    margin : 20px auto;
	border-width: 5px;
	border-style: solid;
	border-color: #004488;
}
.menu {
    background:#ffffff;
    width: 1098px;
    height: 95px;	
	border: 1px solid #000000;
	border-bottom: 5px solid #004488;
	
    
}

.menu ul {
    font-family: 'Poiret One', cursive;
    text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
}

ul li{
    display: inline;
	margin-left: 30px;
	margin-right: 30px;
}

ul li a {
    text-decoration: none;
    color: #000000;
	padding: 20px;
	-webkit-transition: all .6s ease;
}

ul li a:hover {
    background-color: #0066aa;
	font-size: 30px;
	color: white;
	padding: 30px;
}

.img{
	float: left;
}

#content{
	background-color: #ffffff;
	color: black;
	width: 1098px;
	height: 516px;
	border: 1px solid #000000;
}

#class p{
	font-size: 20px;
}

#marcaAgua {
    font-size: 50px;
    position: absolute;
    top: 180px;
    left: 290px;
    opacity: 0.2;
    z-index: 0;
}
#div1, #div2 {
    float: left;
    width: 90px;
    height: 42px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#fecha{
    color: black;
    float: right;
}
