</div>
      <footer class="blue darken-1 page-footer">
            <div class="container">
               
                <p class="grey-text text-lighten-4">By Alam</p>
            </div>
          <div class="footer-copyright">
            <div class="container">
           
            </div>
          </div>
      </footer>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/ajax.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    </body>
  </html>