<?php include('_header.html'); ?>

<h1>AJAX</h1>
<div class="container">
    <input type="text" id="userInput" name="userInput" onkeyup="sendRequest()" />
    <div id="ajaxResponse"></div>
</div>

<?php include('_footer.html'); ?>