<?php include("_header.html"); ?>

<div class="row">
    <div class="col s12 m12 l12">
        <a href="logout.php"><h6 class="right-align">Salir</h6></a>
    </div>
</div>


<h1>Bienvenido <?= $_SESSION["username"] ?></h1>


<h5 class="green-text"><i class="material-icons medium">check</i><?php if (isset($_SESSION["mensaje"])): ?>
        <?= $_SESSION["mensaje"]; ?>
        <?php unset($_SESSION["mensaje"]); ?>
    <?php endif; ?>
</h5>

<h1>AJAX</h1>
<div class="row">
    <input type="text" id="userInput" name="userInput" onkeyup="sendRequest()" />
    <div id="ajaxResponse"></div>
</div>

<p><a class="green-text" href="new.php"><i class="small material-icons green-text">queue</i>Agregar item</a></p>
<p> <?php clientes() ?> </p>
<p><a class="green-text" href="new.php"><i class="small material-icons green-text">queue</i>Agregar item</a></p>

<?php include("_footer.html"); ?>