<?php include("_header.html"); ?>

<h1>Bienvenido</h1>

<div class="row">
    <form class="col s12 m12 l12" action="index.php" method="POST">
      <div class="row">
          <?php if (isset($error)) :?>
                <div class="red lighten-2"><?= $error ?></div>
            <?php endif ?>
        <div class="input-field col s12 m12 l12">
          <input placeholder="alam@alam.com" id="username" name="username" type="text" class="validate" required>
          <label for="username">Usuario </label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12 m12 l12">
            <input placeholder="********" id="password" name="password" type="password" class="validate" required>
            <label for="password">Password</label>
          </div>
        </div>
      </div>
      
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
      
    </form>
  </div>



<?php include("_footer.html"); ?>