<?php include("_header.html"); ?>

<h1>Agregar vampiro</h1>

<div class="row">
    <form class="col s12 m12 l12" action="new.php" method="POST">
      <div class="row">
          <?php if (isset($error)) :?>
                <div class="red lighten-2"><?= $error ?></div>
            <?php endif ?>
        <div class="input-field col s12 m12 l12">
          <input placeholder="Dracula" id="nombre" name="nombre" type="text" class="validate" required>
          <label for="nombre">Nombre </label>
        </div>
      </div>
      <div class="row">
          <?php if (isset($error)) :?>
                <div class="red lighten-2"><?= $error ?></div>
            <?php endif ?>
        <div class="input-field col s12 m12 l12">
          <input placeholder="15" id="cantidad" name="cantidad" type="number" class="validate" required>
          <label for="email">Cantidad </label>
        </div>
      </div>
      
      <div class="row">
          <div class="input-field col s12 m12 l12">
            <input placeholder="Delicioso Caramelo.." id="descripcion" name="descripcion" type="text" class="validate" required>
            <label for="password">Descripcion</label>
          </div>
        </div>
      </div>
      
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
      
    </form>
  </div>



<?php include("_footer.html"); ?>