    <?php
        include("_header.html");
    ?>
        <div class="row">
            <div class="col s12 m12 l12">
                <a href="logout.php"><h6 class="right-align">Salir</h6></a>
            </div>
        </div>
        <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><?php echo $f_name;?> <?php echo $l_name;?></span>
              <p>Este es tu tarjeta de presentación, felicidades.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      
      <p><a class="green-text" href="new_item.php"><i class="small material-icons green-text">queue</i>Agregar ITEM</a></p>
      <p> <?php items() ?> </p>
      
      
    <?php
        include("_footer.html");
    ?>