<?php
    include("_header.html");
    
?>

    <div class="row">
    <form method="post" action="index.php" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="f_name" value="<?php echo $f_name;?>">
          <label for="first_name">Nombre</label>
          <span class="error">* <?php echo $f_nameErr;?></span>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="l_name" value="<?php echo $l_name;?>">
          <label for="last_name">Apellido</label>
          <span class="error">* <?php echo $l_nameErr;?></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="email" id="email" type="email" class="validate" value="<?php echo $email;?>">
          <label for="email" data-error="wrong" data-success="right">Email</label>
          <span class="error">* <?php echo $emailErr;?></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate" value="<?php echo $password;?>">
          <label for="password">Password</label>
          <span class="error">* <?php echo $passwordErr;?></span>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
  
  <?php
  include("_footer.html");
  ?>