<?php include("_header.html"); ?>

<h1>Agregar ITEM</h1>

<div class="row">
    <form class="col s12 m12 l12" action="new_item.php" method="POST">
      <div class="row">
          
        <div class="input-field col s12 m12 l12">
          <input placeholder="Ej: Esquites" id="nombre" name="nombre" type="text" class="validate" required>
          <label for="nombre">Nombre </label>
        </div>
      </div>
      <div class="row">
          
        <div class="input-field col s12 m12 l12">
          <input id="desc" name="descripcion" class="validate" required>
          <label for="email">Descripcion </label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12 m12 l12">
            <input id="cantidad" name="cantidad" type="cantidad" class="validate" type="number"required>
            <label for="password">Cantidad</label>
          </div>
        </div>
      </div>
      
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">Enviar</i>
      </button>
      
    </form>
  </div>



<?php include("_footer.html"); ?>