
/*{
    width: 100%;
    border: 1px solid gray;
}*/

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

/*nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}*/

/*nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}*/

/*article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}*/

table, th, td {
   border: 1px solid black;
}

table {
    border-collapse: collapse;
       width: 100%;
}


th {
    height: 50px;
    text-align: left;
}

td {
    height: 50px;
    vertical-align: bottom;
}

th, td {
    padding: 15px;
    text-align: left;
}
tr:hover {background-color: #f5f5f5}